<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar">
	  <div class="container">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="/">Blog</a>
	    	<ul class="nav navbar-nav">
	    		<li>
	    			<a href="/posts">Posts</a>
	    		</li>
	        	<li>
	        		<%= link_to 'New Post', new_post_path %>
	        	</li>
	        </ul>
	    </div>
	  </div>
	</header>

<%= yield %>

</body>
</html>
